<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!--Bootstrap CSS Framework-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--Custom CSS Style-->
    <link rel="stylesheet" href="styles.css">

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <script src="index.js"></script>
</head>
<body class="text-center">
<form method="post" id="form" name="form" class="form-signin" target="_self">
    <h1 class="h3 mb-3 font-weight-normal">Check CSRF token</h1>
    <div class="form-group">
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter First Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter Last Name">
    </div>
    <div class="form-group" id="hiddenDiv">
    </div>
    <button type="button" class="btn btn-primary btn-block" onclick="submitContent()">Submit</button>
    <button type="submit" class="btn btn-warning btn-block" onclick="javascript: form.action='/api/logout';">Logout</button>
    <br/>
</form>

<div class="alert alert-success" role="alert" name="alert" id="alert" hidden>
    CSRF Token is present!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger" role="alert" name="alertErr" id="alertErr" hidden>
    CSRF Token is not present!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<script>
    var alert = document.getElementById("alert");
    var alertErr = document.getElementById("alertErr");
    function submitContent() {

        var val = document.getElementById("_csrf").value;
        var fname = document.getElementById("firstName").value;
        var lname = document.getElementById("lastName").value;
        $.ajax({
            type: "POST",
            url: "/api/content?firstName="+fname+"&lastName="+lname+"&_csrf="+val,
            success: function() {
                document.getElementById("form").appendChild(alert);
                document.getElementById("alert").hidden = false;
                document.getElementById("form").reset();
            },
            error: function () {
                document.getElementById("form").appendChild(alertErr);
                document.getElementById("alertErr").hidden = false;
            }
        });
    }
</script>

</body>
</html>